<div class="flex text-center items-center justify-center min-h-screen">
  <div class="px-12 py-9 rounded-2xl shadow-2xl">
    <h2 class="text-2xl font-bold text-green-600">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <div class="border border-green-600 rounded mb-4 p-1">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "w-full outline-none" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <div class="border border-green-600 rounded mb-4 p-1">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full outline-none" %>
        </div>
      </div>

        <%= f.submit "Change my password", class: "w-full p-1 mb-4 rounded bg-green-100 text-green-600 cursor-pointer" %>

    <% end %>

    <div class="text-green-800">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
